.notification.notification-success {
    position: relative;
    margin-bottom: 16px;
    top: 0px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: #DFF2BF;
    color: #4F8A10;
    transition: top 500ms linear;
}

.notification.notification-success.fade-out, .notification.notification-success.fade-in {
    top: -100px;
}

.notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    height: auto;
    transition: all 500ms linear;
}

.form-control {

}

.hidden {
    display: none;
}
